<title>Shorty URL</title>
<h1 align="center">Shorty URL</h1>


<p align = "center">Your short url is: <a href="http://localhost:9393/<%=@url.short_url %>">http://localhost:9393/<%=@url.short_url %></a></p>

<table id="datatable">
  <tr>
    <th align ="left"><%= "Long URL"%></th>
    <th align ="left"><%= "Shorten URL"%></th>
    <th align ="left"><%= "Click Count"%></th>
  </tr>
  <tr>
  <% @all_url.each do |url| %>
    <td align = "left"><%= url.long_url %></td>
    <td align = "left"><%= url.short_url %></td>
    <td align = "center"><%= url.click_count%></td>
  </tr>
     <% end %>
 </table>